# Build files
target
debug
templates/*

# MacOS
.DS_Store

# testing
_tests

# Example build files
examples/*/target
examples/*/debug
examples/*/dist/*

# UI build dependencies
ui/node_modules
ui/dist

# Custom files. Internal notes.
NOTES.md
*_IMPLEMENTATION.md
