[package]
name = "wasmrun"
version = "0.10.3"
edition = "2021"
description = "A WebAssembly Runtime"
license = "MIT"
authors = ["Kumar Anirudha <wasmrun@anirudha.dev>"]
repository = "https://github.com/anistark/wasmrun"
readme = "README.md"
keywords = ["wasm", "webassembly", "browser", "runtime", "cli"]
categories = ["command-line-utilities", "development-tools", "wasm"]
include = ["src/**", "assets/**", "Cargo.toml", "README.md", "LICENSE"]
documentation = "https://docs.rs/wasmrun"
rust-version = "1.70.0"

[dependencies]
clap = { version = "4.5.40", features = ["derive"] }
tiny_http = "0.12"
webbrowser = "1.0.5"
notify = "5.1.0"
notify-debouncer-mini = "0.2.1"
thiserror = "1.0"
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
toml = "0.8.23"
dirs = "6.0.0"
serde_json = "1.0.140"
chrono = "0.4.41"

[dev-dependencies]
tempfile = "3.8"

[[bin]]
name = "wasmrun"
